body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    border: 5px solid rgb(94, 139, 126);
    border-radius: 20px;
    padding: 50px;
    display: block;
    margin: 50px auto;
    background: rgb(223, 238, 234);
    min-width: 724px;
    max-width: 740px;
  }
  
  #info,
  #dow {
    background-color: rgb(255, 255, 255, 0.6);
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
  }
  
  /* .btn, */
  .form-control,
  #current {
    font-family: "Roboto", sans-serif;
    transition: all 100ms ease-in-out;
    color: rgb(94, 139, 126);
    border: 1px solid rgb(94, 139, 126);
    border-radius: 5px;
    padding: 5px;
  }
  #current:hover {
    background-color: rgb(47, 93, 98);
    color: white;
  }
  .btn:hover {
    background-color: rgb(47, 93, 98);
    color: white;
  }
  
  #local {
    color: rgb(47, 93, 98);
    margin: 3px;
  }
  
  #place {
    color: rgb(47, 93, 98);
    font-size: 40px;
    font-weight: 600;
    margin: 3px;
  }
  
  .today {
    color: rgb(47, 93, 98);
    font-size: 30px;
    padding: 25px 20px;
  }
  #description {
    font-size: 20px;
    text-transform: capitalize;
  }
  
  .conditions {
    color: rgb(47, 93, 98);
    padding: 20px 0px;
    line-height: 15px;
  }
  
  .units {
    font-size: 15px;
    text-decoration: none;
    color: rgb(47, 93, 98);
    display: inline-block;
    text-align: center;
  }
  .units:hover {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: rgb(47, 93, 98);
  }
  
  #or {
    font-size: 25px;
  }
  
  .days,
  .temps {
    color: rgb(94, 139, 126);
  }

 #footnote {
    display: block;
    margin: 0 auto;
    margin-top: -40px;
    min-width: 724px;
    max-width: 740px;
}